.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #f8f3eb;
}

h1 {
  margin: 30px;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 5rem;
  color: #000;
}

h2 {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 2rem;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #4e4e4e;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}
